<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<!-- 객체 생성이 필요한 것들 작성 -->
	<bean id="msg" class="com.spring.di.MessageBean"></bean>
	<bean id="tv" class="com.spring.di.LgTV"></bean>
	
	

</beans>
