<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	<bean id="speaker" class="com.spring.di.AppleSpeaker"></bean>
	<bean id="tv2" class="com.spring.di.SamsungTV">
		<constructor-arg ref="speaker"></constructor-arg>
		<constructor-arg value="250000"></constructor-arg>
	</bean>

</beans>
