#deleteView{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background:#000;
	display:none;
}
#deleteCon{
	width:400px;
	height:auto;
	position:absolute;
	left:20%;
	top:30%;
	background:#fff;
}
#deleteCon table{
	width:100%;
}
#deleteCon table th{
	line-height:50px;
	font-size:24px;
	font-weight:bold;
	
}
#deleteCon table td{
	line-height:40px;
}
#deleteCon span#close{
	display:block;
	width:30px;
	height:30px;
	background:#f00;
	position:absolute;
	right:0;
	top:-30px;
}
#checkbutton{
	position:absolute;
	right:0px;	
	
}
